@use 'mixins' as *;

.spinner {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 2px solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: rotate 0.7s linear infinite;
  vertical-align: -0.125em;

  @include reduced-motion {
    animation-duration: 2s;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
